
<Connectivity>
  Connectiontype {{ connectiontype }}
</Connectivity>

<Account information>
  Username {{ username }}
  Password {{ password }}
</Account information>

<System Information>
  DistributionType {{ ansible_os_family }}
</System Information>

